$neutral: oldlace;
$purple: #D2AFFF;
$darkpurple: transparentize(darken($purple, 20%), .3);
$teal: #008080;
$scallop: url('https://openclipart.org/image/2400px/svg_to_png/248447/scallop.png');
$script: 'Lily Script One', cursive;
$handwriting: 'Patrick Hand', cursive;
