#recipes, .detail {
  width: 80vw !important;
  height: 70vh !important;
  margin-top: 15vh !important;
  margin-bottom: 0 !important;
  border-left: 0.1vh solid #D2AFFF;
  border-right: 0.1vh solid #D2AFFF;
  border-bottom: 0.1vh solid #D2AFFF;
  box-shadow: .1vh .1vh .2vh black; }
  #recipes .wrapper, .detail .wrapper {
    padding: 1% 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    height: 82%;
    width: 95.5%;
    justify-content: center; }
    #recipes .wrapper .list, #recipes .wrapper .recipe-form, .detail .wrapper .list, .detail #recipes .wrapper .recipe-form, #recipes .detail .wrapper .recipe-form, .detail .wrapper .recipe-form {
      flex: 4;
      padding: 2%;
      background: rgba(253, 245, 230, 0.8);
      box-shadow: inset .1vh .1vh .5vh black;
      color: #008080;
      margin: 0;
      list-style: none;
      overflow-y: scroll; }
      #recipes .wrapper .list h2, #recipes .wrapper .recipe-form h2, .detail .wrapper .list h2, .detail #recipes .wrapper .recipe-form h2, #recipes .detail .wrapper .recipe-form h2, .detail .wrapper .recipe-form h2 {
        font-family: "Lily Script One", cursive;
        text-align: center;
        font-size: 3vh; }
      #recipes .wrapper .list li, #recipes .wrapper .recipe-form li, .detail .wrapper .list li, .detail #recipes .wrapper .recipe-form li, #recipes .detail .wrapper .recipe-form li, .detail .wrapper .recipe-form li {
        border-bottom: 0.1vh solid #008080;
        text-align: left !important;
        font-size: 1.5vw;
        font-family: "Patrick Hand", cursive; }
        #recipes .wrapper .list li h3, #recipes .wrapper .recipe-form li h3, .detail .wrapper .list li h3, .detail #recipes .wrapper .recipe-form li h3, #recipes .detail .wrapper .recipe-form li h3, .detail .wrapper .recipe-form li h3 {
          margin: .5vh 0; }
        #recipes .wrapper .list li:hover, #recipes .wrapper .recipe-form li:hover, .detail .wrapper .list li:hover, .detail #recipes .wrapper .recipe-form li:hover, #recipes .detail .wrapper .recipe-form li:hover, .detail .wrapper .recipe-form li:hover {
          background: rgba(210, 175, 255, 0.5); }
    #recipes .wrapper .recipe-form, .detail .wrapper .recipe-form {
      overflow-y: hidden;
      flex: 1;
      justify-content: space-between !important; }
      #recipes .wrapper .recipe-form h2, .detail .wrapper .recipe-form h2 {
        text-align: center; }
      #recipes .wrapper .recipe-form textarea, .detail .wrapper .recipe-form textarea {
        border-radius: 3%;
        font-size: 2.5vh;
        font-family: "Patrick Hand", cursive;
        padding: 3%;
        width: 94%;
        margin: 2% auto;
        height: 20%;
        cursor: text;
        background: rgba(250, 128, 114, 0.5);
        border: 0.1vh solid oldlace; }
        #recipes .wrapper .recipe-form textarea:hover, .detail .wrapper .recipe-form textarea:hover {
          box-shadow: inset .1vh .1vh .2vh black; }
        #recipes .wrapper .recipe-form textarea:focus, .detail .wrapper .recipe-form textarea:focus {
          box-shadow: inset .1vh .1vh .2vh black; }
      #recipes .wrapper .recipe-form button, .detail .wrapper .recipe-form button {
        background: #008080;
        font-size: 2.5vh;
        border-radius: 4%;
        padding: 1vh;
        width: 50%;
        margin: 1vh auto;
        color: oldlace;
        text-align: center;
        flex-basis: 20%;
        font-family: "Patrick Hand", cursive; }
        #recipes .wrapper .recipe-form button:hover, .detail .wrapper .recipe-form button:hover {
          box-shadow: .1vh .1vh .2vh black; }

.detail {
  height: 75vh !important;
  width: 90vw !important;
  margin: 15vh auto 0 auto !important;
  background-image: none !important; }
  .detail .wrapper {
    background-image: url("http://www.stripemania.com/cache/20-20-90-3-FDF5E6-1-d2afff-DDEE1E-DDEE1E-DDEE1E-DDEE1E-78D316-78D316-78D316-78D316-78D316-no-yes-yes-yes-yes-.png") !important;
    background-position: center;
    width: 100%;
    height: 100%; }
    .detail .wrapper .list, .detail #recipes .wrapper .recipe-form, #recipes .detail .wrapper .recipe-form, .detail .wrapper .recipe-form {
      box-sizing: padding-box !important;
      box-shadow: none !important;
      padding: .5% 0% .5% 1.2%;
      background: transparent;
      height: 90%;
      flex-basis: 70%;
      overflow: hidden; }
      .detail .wrapper .list ul, .detail #recipes .wrapper .recipe-form ul, #recipes .detail .wrapper .recipe-form ul, .detail .wrapper .recipe-form ul, .detail #recipes .wrapper .recipe-form form, #recipes .detail .wrapper .recipe-form form, .detail .wrapper .recipe-form form {
        background: rgba(253, 245, 230, 0.8);
        box-shadow: inset .1vh .1vh .5vh black;
        color: #008080;
        list-style: none;
        margin: 0;
        padding-top: .5vh;
        height: 95%;
        overflow-y: scroll; }
        .detail .wrapper .list ul li, .detail #recipes .wrapper .recipe-form ul li, #recipes .detail .wrapper .recipe-form ul li, .detail .wrapper .recipe-form ul li, .detail #recipes .wrapper .recipe-form form li, #recipes .detail .wrapper .recipe-form form li, .detail .wrapper .recipe-form form li {
          border-color: #008080;
          width: 30%; }
          .detail .wrapper .list ul li button, .detail #recipes .wrapper .recipe-form ul li button, #recipes .detail .wrapper .recipe-form ul li button, .detail .wrapper .recipe-form ul li button, .detail #recipes .wrapper .recipe-form form li button, #recipes .detail .wrapper .recipe-form form li button, .detail .wrapper .recipe-form form li button {
            float: right; }
    .detail .wrapper .recipe-form {
      flex-basis: 35%;
      box-sizing: padding-box;
      padding: .5% 1.2% .5% 0% !important; }
      .detail .wrapper .recipe-form form {
        background: rgba(0, 128, 128, 0.7);
        color: oldlace;
        padding: .5vh 6% 0 6% !important;
        overflow: hidden; }
        .detail .wrapper .recipe-form form textarea {
          background: rgba(210, 175, 255, 0.8);
          color: #008080; }
      .detail .wrapper .recipe-form button {
        margin: auto; }
  .detail .tabs {
    display: flex;
    font-family: "Lily Script One", cursive;
    background: papayawhip;
    width: 100%;
    padding: 0;
    margin: auto;
    height: 10%;
    font-size: 2.5vh;
    border-bottom: 0.1vh solid oldlace; }
    .detail .tabs button {
      flex-basis: 10%;
      text-align: center;
      background: #D2AFFF; }
    .detail .tabs button:first-child {
      flex-basis: 40%;
      border-right: 0.1vh solid rgba(153, 73, 255, 0.7);
      cursor: default; }
    .detail .tabs button:nth-child(2) {
      margin-right: 3vw;
      font-family: "Patrick Hand", cursive;
      font-size: 3vh;
      border-top-right-radius: 10%;
      transition: background 1s; }
      .detail .tabs button:nth-child(2):hover {
        background: rgba(153, 73, 255, 0.7); }
    .detail .tabs section {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      background: papayawhip;
      display: flex;
      justify-content: space-between; }
      .detail .tabs section article {
        cursor: pointer;
        flex-basis: 33%;
        text-align: center; }
        .detail .tabs section article button {
          background: #008080 !important;
          cursor: pointer !important;
          border-top-left-radius: 10%;
          border-top-right-radius: 10%;
          height: 100%;
          width: 100%;
          transition: text-shadow 1s; }
          .detail .tabs section article button:hover {
            text-shadow: .1vh .1vh .2vh black; }
        .detail .tabs section article .selected {
          background: salmon !important; }

.ingredient, .step, .note {
  width: 95% !important;
  margin: auto;
  display: flex;
  justify-content: space-between; }
  .ingredient h3, .step h3, .note h3 {
    margin: 0 !important;
    padding-left: 1vw;
    border-right: 0.1vh solid oldlace;
    line-height: 150%; }
  .ingredient h3:first-child, .step h3:first-child, .note h3:first-child {
    flex-basis: 65%;
    background: rgba(210, 175, 255, 0.8); }
  .ingredient h3:nth-child(2), .step h3:nth-child(2), .note h3:nth-child(2) {
    background: rgba(250, 128, 114, 0.4);
    flex-basis: 30.5%; }
  .ingredient button, .step button, .note button {
    flex-basis: 4.5%;
    background: rgba(0, 128, 128, 0.5);
    height: 5vh;
    color: oldlace;
    text-align: center;
    transition: background 1s; }
    .ingredient button:hover, .step button:hover, .note button:hover {
      background: rgba(0, 128, 128, 0.8); }

.step h3:first-child {
  flex-basis: 5%;
  color: oldlace; }
.step h3:nth-child(2) {
  flex-basis: 90.5%; }

.note h3:first-child {
  flex-basis: 95.5%; }

.ingredient-form, .step-form, .note-form {
  position: relative; }
  .ingredient-form textarea, .step-form textarea, .note-form textarea {
    height: 10% !important;
    font-size: 3vh !important; }
  .ingredient-form textarea:first-child, .step-form textarea:first-child, .note-form textarea:first-child {
    background: rgba(250, 128, 114, 0.8) !important; }
  .ingredient-form button, .step-form button, .note-form button {
    display: block;
    height: 15%;
    font-size: 3vh;
    width: 88.5% !important;
    margin: auto;
    background: rgba(250, 128, 114, 0.8) !important;
    font-family: "Lily Script One", cursive;
    position: absolute;
    bottom: 10%;
    border-radius: 4%;
    border: 0.1vh solid oldlace; }

.step-form textarea, .note-form textarea {
  height: 50% !important; }

/*# sourceMappingURL=recipes.css.map */
