.main-div {
  height: 60vh;
  overflow: hidden;
  border-radius: 2%;
  padding-bottom: 1%;
  width: 40vw;
  background-position: center;
  background-image: url("http://www.stripemania.com/cache/20-20-90-3-FDF5E6-1-d2afff-DDEE1E-DDEE1E-DDEE1E-DDEE1E-78D316-78D316-78D316-78D316-78D316-no-yes-yes-yes-yes-.png");
  color: oldlace;
  margin: 15vh auto;
  border-left: 0.1vh solid #D2AFFF;
  border-right: 0.1vh solid #D2AFFF;
  border-bottom: 0.1vh solid #D2AFFF;
  box-shadow: .1vh .1vh .2vh black; }
  .main-div .border {
    height: 12.5%;
    width: 100%;
    margin: 0;
    background-image: url("https://openclipart.org/image/2400px/svg_to_png/248447/scallop.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top center; }
  .main-div h1 {
    height: 20%;
    line-height: 200%;
    margin: 0;
    text-align: center;
    font-size: 5vh;
    color: #008080;
    font-family: "Lily Script One", cursive; }
  .main-div div {
    height: 60%;
    display: flex;
    justify-content: center; }
    .main-div div .welcome-section {
      flex-basis: 46%;
      border-radius: 4%;
      background: rgba(153, 73, 255, 0.7);
      overflow: hidden;
      height: 100%;
      margin: 0 1%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer; }
      .main-div div .welcome-section:hover {
        box-shadow: .1vh .1vh .2vh black; }
      .main-div div .welcome-section .welcome-button, .main-div div .welcome-section .welcome-form h1 {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 3vh;
        font-family: "Lily Script One", cursive; }
      .main-div div .welcome-section .welcome-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .main-div div .welcome-section .welcome-form h1 {
          background: rgba(0, 128, 128, 0.8);
          color: oldlace;
          flex-basis: 20%; }
        .main-div div .welcome-section .welcome-form fieldset {
          padding: 0;
          width: 90%;
          margin: auto;
          flex-basis: 40%; }
          .main-div div .welcome-section .welcome-form fieldset input {
            border-radius: 3%;
            padding: 0 3%;
            width: 94%;
            margin: 2% auto;
            height: 40%;
            cursor: text;
            color: #4d00af;
            background: papayawhip;
            font-family: "Patrick Hand", cursive;
            font-size: 2.5vh; }
            .main-div div .welcome-section .welcome-form fieldset input:hover {
              box-shadow: inset .1vh .1vh .2vh black; }
        .main-div div .welcome-section .welcome-form .form-buttons {
          flex-basis: 30%;
          display: flex;
          justify-content: center;
          font-family: "Patrick Hand", cursive; }
          .main-div div .welcome-section .welcome-form .form-buttons button {
            background: rgba(0, 128, 128, 0.8);
            border-radius: 4%;
            text-align: center;
            font-size: 2.5vh;
            flex-basis: 44%;
            margin: 0 1%;
            height: 80%; }
            .main-div div .welcome-section .welcome-form .form-buttons button:hover {
              box-shadow: .1vh .1vh .2vh black; }

/*# sourceMappingURL=welcome.css.map */
